/* styles.css */

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background-color: #333;
  overflow: hidden;
  width: 100%; /* Make navbar span entire width */
  display: flex;
  justify-content: space-between; /* Align items to the ends */
}

.search-bar {
  display: flex; /* Ensure search bar is a flex container */
  align-items: center; /* Align items vertically */
}

.search-bar input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.search-bar button {
  padding: 5px 10px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.category a {
  color: white; /* Set text color for category links */
  padding: 10px; /* Add padding to category links */
  text-decoration: none; /* Remove underline */
}

.login-button button {
  padding: 5px 10px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
