/* General Styles */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background-color: #333;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"], .search-bar button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: #555;
  color: white;
  cursor: pointer;
}

.category a, .dropdown-content a, .dropbtn {
  color: white;
  padding: 5px 8px;
  text-decoration: none;
  background-color: #333; /* Ensures consistency */
  border: none; /* Ensures buttons/links do not have a border */
  cursor: pointer;
}

.category a:hover, .dropdown-content a:hover, .dropbtn:hover {
  background-color: #555;
}

/* Dropdown Menu Styling */
.dropdown {
  position: relative;
  z-index: 1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  width: 50%;
  left: 0;
  top: 50px;
  z-index: 2;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.product-item {
  display: block; /* Treat the product-item as a block-level element */
  margin-left: auto; /* Automatically adjust the left margin */
  margin-right: auto; /* Automatically adjust the right margin */
  position: relative;
  width: 300px; /* Or your desired width */
  margin-bottom: 20px; /* Adjust spacing between items */
}


.product-image {
  width: 100%;
  height: auto;
}

.product-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.btn.shop-now {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

/* Layout Styles */
.home-page-container {
  display: flex; /* Use flexbox layout */
  flex-direction: row; /* Align children horizontally */
  justify-content: flex-start; /* Align children to the start of the main axis */
  align-items: flex-start; /* Align children to the start of the cross axis */
  min-height: 100vh; /* Minimum height of 100% of the viewport height */
}

.sidebar {
  width: 200px;
  height: 100vh;
  flex-shrink: 0;
  /* Add additional sidebar styles here */
}

.product-list {
  display: flex; /* This will make .product-list a flex container */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children along the cross axis (horizontally) */
  justify-content: flex-start; /* Align children to the start of the main axis (vertically) */
  width: 100%; /* Take the full width of the parent container */
  max-width: 600px; /* You can set a max-width to prevent items from stretching too wide */
}

