/* AdminDashboard.css */

/* General styles */
body, html {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  height: 100%;
  color: white; /* Change text color to white */
}

/* Flex container for dashboard sections */
.flex {
  display: flex;
  justify-content: center; /* Centers the children horizontally */
  gap: 2rem; /* Space between the form and product list */
  padding: 1rem;
  min-height: calc(100vh - 120px); /* Adjust height for footer */
  flex-wrap: wrap; /* Allows items to wrap as needed on smaller screens */
}

/* Styles for the add/edit product form */
.login_Form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-basis: calc(50% - 1rem); /* Adjust width to account for gap */
  overflow: hidden;
}

/* Styles for product list, will include scroll if content exceeds its max-height */
.products-section {
  flex-basis: calc(50% - 1rem); /* Adjust width to account for gap */
  max-height: calc(100vh - 120px - 2rem); /* Adjust for header/footer */
  overflow-y: auto; /* Only add scroll to product list */
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-item {
  background-color: #ffffff; /* Light background for product item */
  color: #333; /* Dark text color for readability */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd; /* Subtle border */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Soft shadow for depth */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.product-item:last-child {
  margin-bottom: 0;
}

/* Buttons for edit and delete */
.product-item button {
  margin-left: 10px;
  color: #333;
  background-color: #f8f8f8; /* Soft background color for buttons */
  border: 1px solid #ddd; /* Subtle border for buttons */
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.product-item button:hover {
  background-color: #e8e8e8; /* Hover color for buttons */
}

/* Responsive Design */
@media (max-width: 768px) {
  .flex {
    flex-direction: column;
    align-items: stretch;
  }

  .login_Form, .products-section {
    width: 100%;
    flex-basis: auto; /* Resets flex-basis for mobile */
  }
}

/* Footer styles */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Other existing styles */
