/* Reset margin and padding for body to ensure no space around the edges */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure all elements consider border and padding in their box-sizing */
*, *::before, *::after {
  box-sizing: inherit;
}

/* Navbar Styles */
.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjusted for better alignment */
  background-color: #333; /* Dark gray for the header */
  color: white;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: transform 0.3s ease; /* Smooth transition for the sidebar */
  z-index: 5;
}

.hamburger-menu {
  padding: 20px;
  cursor: pointer;
  z-index: 6; /* Ensure it's above the sidebar */
  display: flex; /* Show hamburger icon */
}

/* Adjust brand logo to be in the middle when the sidebar is not open */
.brand-logo {
  padding: 40px;
  color: #78C850; /* Green theme */
  text-decoration: none;
  font-size: 24px;
  z-index: 2; /* Ensure clickable over sidebar */
  transition: transform 0.3s ease;
}


.nav-links {
  list-style: none;
  display: flex; 
  gap: 50px; /* Spacing between nav items */
  align-items: center;
  justify-content: center; /* Center align the links */
  flex: 1; /* Allow links to take up available space */
  padding: 0;
}

.nav-item {
  padding: 5px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Sidebar Styles */
.sidebar {
  background-color: #222; /* Slightly darker shade for the sidebar */
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -200px; /* Start off-screen */
  transition: left 0.3s ease;
  z-index: 4;
  padding-top: 100px; /* Make space for the top part of the header */
}

.sidebar.open {
  left: 0; /* Slide in */
}

.sidebar-links {
  list-style: none;
  padding: 0;
}

.sidebar-links li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.sidebar-links li a:hover {
  background-color: #555; /* Lighter gray for hover effect */
}

/* Content Shift when Sidebar is open */
.content-shift {
  margin-left: 200px; /* Shift content by the sidebar's width */
}

.home-page-container {
  margin-top: 80px; /* Adjust margin totest prevent content from being hidden behind Navbar */
  transition: margin-left 0.6s;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px;
}

/* Product List Styles */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.product-item {
  width: 300px;
  margin-bottom: 20px;
  text-align: center;
}

.product-image {
  width: 100%;
  
}

.product-info {
  padding: 0px;
}

.btn.shop-now {
  background-color: #78C850; /* Green theme */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

